$font-family: 'Commissioner', sans-serif;
$color-cyan: hsl(176, 50%, 47%);
$color-cyan-dark: hsl(176, 72%, 28%);
$color-black: hsl(0, 0%, 0%);
$color-dark-grey: hsl(0, 0%, 48%);
$color-text-primary: #7A7A7A;
$font-size-mobile: 14px;
$font-size: 16px;
$color-border: rgba(0,0,0,0.05);

$spacing: 24px;